<a ui-sref="home">Home</a> &lt; <span>Speisen-Kategorien</span>

<!-- Example 1 for error handling: Display target page with error message -->
<div class="error-message" ng-if="$ctrl.myCategoryItems.errorObject">Error  getting this page: {{ $ctrl.myCategoryItems.errorObject.config.url }} --&gt;
                                                      {{ $ctrl.myCategoryItems.errorObject.status }}
                                                      {{ $ctrl.myCategoryItems.errorObject.statusText }}</div>

<!-- Example 3 for error handling: Display error on source page and do not display target page -->
<div class="error-message">{{$ctrl.longErrorMessage}}</div>

<!-- id, short_name, name, special_instructions, url -->
<table class="category-items" ng-if="!$ctrl.myCategoryItems.errorObject">
    <thead>
        <tr>
            <th>Short name</th>
            <th>Category</th>
            <th>Special instructions</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="categoryItem in $ctrl.myCategoryItems">
            <!-- id, short_name, name, special_instructions, url -->
            <th>{{categoryItem.short_name}}</th>

            <!-- Example for state change via attribute "ui-sref" and state defined in routes.js -->
            <td><a ui-sref="items({categoryShortName: categoryItem.short_name})">{{categoryItem.name}}</a></td>
            <td>{{categoryItem.special_instructions}}</td>
            <td>
                <!-- Example for reference binding and state change in category-state.controller.js -->
                <button ng-click="$ctrl.doListMenus(categoryItem.short_name)">Menus</button>
            </td>
        </tr>
    </tbody>
</table>