<fieldset class="text-center" ng-controller="SignUpController as signUpCtrl">
  <legend>Sign up for our newsletter</legend>
  <form name="signUpForm" novalidate>
    <input type="text" name="firstName" ng-model="signUpCtrl.user.firstName" required minlength="2"
      placeholder="Your first name">
    <span
      ng-if="(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.required) && signUpForm.firstName.$touched">
      Your first name is required. (2 letters or more)
    </span>
    <br>

    <input type="text" name="lastName" ng-model="signUpCtrl.user.lastName" required minlength="2"
      placeholder="Your last name">
    <span
      ng-if="(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.required) && signUpForm.lastName.$touched">
      Your last name is required. (2 letters or more)
    </span>
    <br>

    <input type="email" name="email" ng-model="signUpCtrl.user.email" required placeholder="Your email address">
    <span ng-if="(signUpForm.email.$invalid || signUpForm.email.$error.required) && signUpForm.email.$touched">
      Your email address is required.
    </span>
    <br>

    <input type="tel" name="phone" ng-model="signUpCtrl.user.phone" required minlength="7"
      placeholder="Your phone number" pattern="[0]\d{2,4}/\d{3,9}">
    <span
      ng-if="(signUpForm.phone.$invalid || signUpForm.phone.$error.minlength || signUpForm.phone.$error.required) && signUpForm.phone.$touched">
      Your phone number is required. (Vorwahl/Rufnummmer)
    </span>
    <br>

    <input type="text" name="favoriteDish" ng-model="signUpCtrl.user.favoriteDish" short-name-exists
      placeholder="Your favorite: Menu number">
    <span ng-show="signUpForm.$error.shortNameExists">Favorite Dish does not exist.</span>
    <span ng-if="signUpCtrl.favoriteDishDoesNotExist">
      No such menu number exists.
    </span>
    <br>

    <button class="submit" ng-click="signUpCtrl.submit()" Submit ng-disabled="signUpForm.$invalid">
      Submit
    </button>
  </form>

  <!-- If submitted, signUpCtrl.completed will be set to true and info bellow will show. -->
  <div class="info" ng-if="signUpCtrl.completed">
    Your information has been saved!
  </div>
</fieldset>
